.account-list {
  menu {
    display: flex;
    flex-direction: column;

    .account-list-item {
      position: relative;
      padding: 0.5em 0.75em;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      .account-list-item-overlay {
        position: absolute;
        inset: 0;
      }

      .profile-icon,
      .mini-profile-info a,
      .iface-pill {
        position: relative;
        z-index: 1;
      }
    }
  }

  .mini-profile {
    flex: 1;

    .profile-icon img {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }

    .profile-icon-emoji {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
    }
  }
}

.account-menu {
  .mini-profile {
    .profile-icon img {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }

    .profile-icon-emoji {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
    }
  }
}
