time {
  pointer-events: auto;
  cursor: help;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


ul,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav menu {
  display: flex;

  &[role="tablist"] {
    overflow-x: auto;
    border: 1px solid dimgrey;

    > li {
      flex: 1 1 0;
      min-width: 5rem;
    }

    a[role="tab"] {
      display: block;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 0.5rem 1rem;
      color: dimgrey;
      text-decoration: none;

      &[aria-selected="true"] {
        border-block-end: 2px solid black;
        color: black;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }
    }
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

body > header,
body > footer {
  flex: 0 0 auto;

  @media (min-width: 768px) {
    flex: 1 1 0;
    position: sticky;
    top: 0;
    align-self: flex-start;
    max-height: 100vh;
    overflow-y: auto;
    background-color: canvas;
  }
}

main {
  flex: 1 1 auto;
  width: min(var(--content-width), 100%);
  max-width: var(--content-width);
  padding-inline: var(--content-padding-inline);
  margin-block-end: 3rem;

  @media (min-width: 768px) {
    flex: 0 1 var(--content-width);
  }

  & > header {
    margin-inline: var(--content-padding-inline);
    margin-block-start: 3rem;
    margin-block-end: 0.5rem;

    & h2 {
      font-size: 1.2em;
      font-weight: 600;
      margin: 0;
    }
  }
}
