.facet-link {
  &::after {
    content: "^";
  }
}


ul {
  list-style: none;
}

nav ul {
  display: flex;
  
  li {
    button {
      min-width: 3rem;
      margin-inline-end: 1rem;
    }
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

header {
  flex: 1;
}

main {
  flex: 1;
}

footer {
  flex: 1;
}

.post {
  border: grey 1px solid;
  margin-bottom: 1rem;
  header {
    display: flex;
    margin-block-end: 1rem;
    figure { 
      margin: 0;
      img {
        max-height: 3em;
        width: auto;
        aspect-ratio: 1;
        border-radius: 50%;
      }
    }
  }
  & > p, .inset-post {
    margin-inline-start: 2rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}